<link rel="stylesheet" href="/css/userSignIn.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<div class="signin">
    <h1 style="margin: 10px auto;">Welcome back!</h1>
        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
          <p class="lead fw-normal mb-0 me-3">Sign in with</p>
          <a href="/auth/google" class="google-btn">
            <i class="fab fa-google"></i>
          </a>
        </div>
        <div class="divider d-flex align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0">Or</p>
        </div>
    <form action="/api/user/create-session" method="POST" class="form">
        <input type="email" name="email" placeholder="Email"  required>
        <input type="password" name="password" placeholder="Password"  required>
        <div class="g-recaptcha" data-sitekey="6LeW3f4pAAAAAPgN9v2RwxwqfDjf5xFC0L_48ygd" style="margin: auto;"></div>
        <button type="submit">Sign In</button>
    </form>

    <p>
        <a href="/api/user/forget-password"> Forget Password?</a>
    </p>

    <p>
        <a href="/api/user/sign-up">Don't have an account?</a>
    </p>
</div>
